.contact__inner {
	max-width: 1400px;
	width: 100%;
	margin: auto;
	text-align: left;
	.section-title {
		text-align: left;
		padding-left: 9rem;
		&.star::before {
			top: 0;
			left: 0;
		}
	}
	@media screen and (max-width: 1400px) {
		padding: 0 3rem;
		.section-title {
			padding-left: 5rem;
		}
	}
}
.contact__desc {
	font-size: 2rem;
	word-break: keep-all;
	padding: 0 9rem 5rem;
	@media screen and (max-width: 1400px) {
		font-size: 1.7rem;
		padding: 0 5rem 2rem;
	}
	@media screen and (max-width: 768px) {
		font-size: 1.5rem;
		padding: 0 2rem 2rem;
		text-align: center;
	}
}

.contact__content {
	padding: 0 9rem 5rem;
	li {
		padding: 3rem;
		border-top: 1px dashed var(--color-dark-gray);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	li:last-child {
		cursor: default;
	}
	@media screen and (max-width: 1400px) {
		padding: 0 0 5rem;
		li {
			padding: 1.5rem;
		}
	}
	@media screen and (max-width: 768px) {
		li {
			padding: 1rem;
		}
	}
	@media screen and (max-width: 480px) {
		li {
			flex-direction: column;
		}
	}
}
.info__title {
	font-size: 2rem;
	font-weight: bold;
	color: var(--color-orange);
	@media screen and (max-width: 1400px) {
		font-size: 1.7rem;
	}
}
.info__text {
	font-size: 2.3rem;
	background: var(--color-pink);
	border-radius: 50px;
	padding: 1rem 5rem;
	a {
		&:hover {
			text-decoration: underline;
		}
	}
	&:hover {
		background: var(--color-yellow);
	}
	@media screen and (max-width: 1400px) {
		font-size: 1.5rem;
		padding: 1rem 3rem;
	}
}
