#intro {
	background-image: url('/assets/imgs/bg.png');
	background-attachment: fixed;
	background-position: 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 10rem;
	@media screen and (max-width: 1400px) {
		padding-top: 5rem;
	}
}
.intro__inner {
	width: 100%;
	padding: 15rem 3rem;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@media screen and (max-width: 1024px) {
		padding: 5rem;
	}
}

.intro__text {
	.title {
		margin: 5rem 0 10rem;
	}
	.desc1,
	.desc2 {
		font-weight: 200;
		font-size: 3rem;
		word-break: keep-all;
		@media screen and (max-width: 1024px) {
			font-size: 2rem;
			line-height: 1.5;
		}
	}
}
.scroll-down {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 10rem;
	font-size: 2rem;
	@media screen and (max-width: 1024px) {
		font-size: 1.5rem;
	}
	span {
		margin-bottom: 2rem;
	}
	.scr {
		font-size: 3rem;
		@media screen and (max-width: 1024px) {
			font-size: 2rem;
		}
	}
}

// .intro__ghost {
// 	padding: 2rem;
// 	@media screen and (max-width: 1400px) {
// 		padding: 5rem;
// 	}
// 	@media screen and (max-width: 769px) {
// 		width: 100%;
// 		height: 40vw;
// 		margin-top: 4rem;
// 	}
// }

// @keyframes ghostMove {
// 	from {
// 		transform: translateX(0);
// 	}
// 	to {
// 		transform: translateX(15%);
// 		transform: translateY(15%);
// 		transform: rotateX(15deg);
// 	}
// }

// @keyframes ghostEyeBlink {
// 	0% {
// 		transform: scaleY(1);
// 	}
// 	18% {
// 		transform: scaleY(1);
// 	}
// 	38% {
// 		transform: scaleY(1);
// 	}
// 	40% {
// 		transform: scaleY(0);
// 	}
// 	45% {
// 		transform: scaleY(1);
// 	}
// 	80% {
// 		transform: scaleY(1);
// 	}
// }

// .intro__ghost #ghost {
// 	animation: 2s ease-in-out infinite alternate running ghostMove;
// }

// .intro__ghost #left_eye,
// .intro__ghost #right_eye {
// 	transform-origin: center;
// 	animation: ghostEyeBlink 3s infinite;
// }
