#skill {
	background: var(--color-pink);
	border-radius: 100px 100px 0 0;
	margin: 10rem 0;
	@media screen and (max-width: 480px) {
		border-radius: 30px 30px 0 0;
	}
}
.skill__inner {
	max-width: 1400px;
	width: 100%;
	margin: auto;
	padding: 10rem 0;
	ul {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
	}
	li {
		margin: 10px;
		background: var(--color-white);
		border: 2px solid var(--color-black);
		border-radius: 20px;
		padding: 4rem;
		flex: 1 1 calc(33% - 20px);
		.title {
			font-size: 3rem;
			font-weight: 700;
		}
		.desc {
			font-size: 1.5rem;
			font-weight: 400;
			word-break: keep-all;
			padding: 2rem 0 0;
		}
	}
	@media screen and (max-width: 1400px) {
		padding: 10rem 5rem;
		li {
			padding: 3rem;
			.title {
				font-size: 2rem;
			}
			.desc {
				padding: 1rem 0 0;
			}
		}
	}
	@media screen and (max-width: 767px) {
		padding: 5rem;
		li {
			flex-basis: calc(50% - 10px);
			margin: 5px;
		}
	}
	@media screen and (max-width: 480px) {
		padding: 3rem 2rem;
		li {
			flex-basis: 100%;
			margin: 5px 0;
		}
	}
}
