// 가운데 정렬
@mixin flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

// 양쪽 정렬
@mixin flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

// 중앙 정렬
@mixin position-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

// 상단 고정
@mixin position-fixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

// 대체텍스트 표시
@mixin blind {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	white-space: nowrap;
	clip: rect(0, 0, 0, 0);
}

// 말줄임 처리
@mixin ellipsis($lines: 1) {
	@if ($lines==1) {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: $lines;
		-webkit-box-orient: vertical;
	}
}
