:root {
	--color-white: white;
	--color-beige: #f5eada;
	--color-blue: #4c2ede;
	--color-yellow: #f7cc36;
	--color-orange: #f9794c;
	--color-purple: #dd99f9;
	--color-bg: #0c142f;
	--color-gradient: linear-gradient(
		239deg,
		rgba(12, 20, 47, 1) 0%,
		rgba(76, 46, 222, 1) 50%,
		rgba(12, 20, 47, 1) 100%
	);

	--font-eng: 'Montserrat';
	--font-kr: 'Pretendard';

	@media (max-width: 860px) {
		line-height: 1.4;
	}
}

@function icon($iconName) {
	$iconList: (
		blue1:
			"%3Csvg xmlns='http://www.w3.org/2000/svg' width='1303' height='806' fill='none'%3E%3Cpath fill='%234C2EDE' fill-rule='evenodd' d='M849.361 1.218a29.984 29.984 0 0 0-23.131 5.81l-96.007 73.716A30.05 30.05 0 0 0 726.626 84H30C13.431 84 0 97.431 0 114v662c0 16.569 13.431 30 30 30h1243c16.57 0 30-13.431 30-30V31c0-16.569-13.43-30-30-30H853a30.3 30.3 0 0 0-3.639.218Z' clip-rule='evenodd'/%3E%3C/svg%3E",
		blue2:
			"%3Csvg xmlns='http://www.w3.org/2000/svg' width='656' height='924' fill='none'%3E%3Cpath fill='%234C2EDE' fill-rule='evenodd' d='M0 30C0 13.431 13.431 0 30 0h407.099c3.922 0 7.667.752 11.1 2.12a49.917 49.917 0 0 1 25.182 9.147l161.555 115.24a50 50 0 0 1 20.965 40.705v35.49c.065.812.099 1.632.099 2.46v687.875c0 16.568-13.431 30-30 30H30c-16.569 0-30-13.432-30-30V30Z' clip-rule='evenodd'/%3E%3C/svg%3E",
		orange:
			"%3Csvg xmlns='http://www.w3.org/2000/svg' width='764' height='793' fill='none'%3E%3Cpath fill='%23F9794C' fill-rule='evenodd' d='M244.823.445A30.2 30.2 0 0 1 250 0h484c16.569 0 30 13.432 30 30v733c0 16.569-13.431 30-30 30H30c-16.569 0-30-13.431-30-30V234c0-.894.04-1.779.116-2.654v-40.845a50 50 0 0 1 20.964-40.705L217.464 9.712A49.93 49.93 0 0 1 244.823.445Z' clip-rule='evenodd'/%3E%3C/svg%3E",
	);
	$icon: map-get(
		$map: $iconList,
		$key: $iconName,
	);
	@return url('data:image/svg+xml;charset=uft8,#{$icon}');
}
